@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('./iranyekan/eot/iranyekanwebregularfanum.eot');
	src: url('./iranyekan/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./iranyekan/woff/iranyekanwebregularfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./iranyekan/ttf/iranyekanwebregularfanum.ttf') format('truetype');
}
