@import "./components/tailwind.css";
@import "./components/base.css";
@import "./components/component.css";
@import "./components/razmnixNav.css";
@import "./components/razmnixNavSide.css";





/* Roocket Header */



/*part 1*/
/*@layer components {


    blockquote,
    q {
        quotes: none;
    }

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        @apply content-none;
    }

    table {
        @apply border-spacing-0 border-collapse;
    }

    .search-holder input,
    .form-control {
        @apply text-sm p-3 rounded-2xl border-transparent bg-gray-100;
    }

    .header-search-input {
        @apply min-w-[400px];
    }

    .header-search-input:focus,
    .form-control:focus {
        @apply shadow-none border-gray-800;
    }

    .header-search-submit {
        @apply absolute bg-gray-500 text-white px-5 py-3.5 rounded-lg border-0 left-0 top-0;
    }

    .auth-btn {
        @apply text-gray-700 shadow-md  transition-all duration-300 ease-in-out px-6 py-4 rounded-2xl hover:text-white bg-white;
    }

    .auth-btn:hover {
        @apply bg-gray-500;
    }

    .razmnix-modal {
        @apply fixed w-full h-full bg-black bg-opacity-50 invisible opacity-0 transition-all duration-300 ease-in-out left-0 top-0;
    }

    .razmnix-modal.show {
        @apply visible opacity-100;
    }

    .razmnix-modal .body {
        @apply text-center absolute w-full max-w-md min-h-[250px] transform -translate-x-1/2 -translate-y-1/2 shadow-lg  px-5 py-6 rounded-2xl left-1/2 top-1/2 bg-white;
    }

    .razmnix-modal .close {
        @apply absolute w-8 h-8 flex items-center justify-center cursor-pointer rounded-full -right-2.5 -top-2.5 bg-gray-300;
    }

    .razmnix-modal .title {
        @apply text-lg font-bold;
    }

    .razmnix-modal .lost-password {
        @apply text-sm text-gray-700;
    }

    .razmnix-modal .submit {
        @apply bg-gray-600 text-white w-full text-sm transition-all duration-300 ease-in-out px-0 py-4 rounded-2xl border-0 hover:opacity-80;
    }

    .razmnix-modal .signup {
        @apply text-gray-700;
    }

    .phone-holder svg {
        @apply w-7;
    }

    .phone-holder .number {
        @apply text-lg font-medium;
    }

    .phone-holder .desc {
        @apply text-sm;
    }

    .cart-btn {
        @apply text-green-600 w-14 h-14 flex items-center justify-center rounded-2xl bg-green-100;
    }

    .cart-btn svg {
        @apply w-6;
    }

    .razmnix-footer-menu li {
        @apply mb-3.5;
    }

    .razmnix-footer-menu li a {
        @apply text-xs font-medium text-gray-800  before:w-1.5 before:h-1.5 before:bg-gray-200 before:inline-block before:ml-2.5 before:rounded-full;
    }


    .razmnix-footer-contact svg {
        @apply w-7 text-[#373737] ml-4;
    }

    .razmnix-footer-contact .phone {
        @apply text-[22px];
    }

    .razmnix-footer-contact .email {
        @apply text-[13px] text-white px-2.5 py-1 rounded-lg;
    }

    .razmnix-footer-title {
        @apply text-sm before:inline-block before:w-[30px] before:h-[7px] before:ml-2;
    }

    .razmnix-footer-title span {
        @apply text-2xl font-light;
    }

    .top-section {
        @apply bg-[linear-gradient(30deg,#0103ff,#22d9c4)] text-white pt-[50px] pb-[200px] px-0;
    }

    .top-section .breadcrumbs {
        @apply text-sm;
    }

    .top-section .breadcrumbs a {
        @apply text-white;
    }

    .top-section .main-title {
        @apply text-2xl;
    }

    .main-page-wraper .content-section {
        @apply mt-[-140px];
    }

    .single-page .content-section {
        @apply mt-[unset];
    }

    .main-page-wraper .content-section .container {
        @apply max-w-[900px];
    }

    .main-page-wraper.single-page .content-section .container {
        @apply max-w-[1320px];
    }

    .main-page-wraper.single-post .post-thumbnail img {
        @apply w-full object-cover  shadow-[0px_-10px_44px_-30px_rgba(0,0,0,0.5)] h-[450px] rounded-2xl border-[5px] border-solid border-white;
    }

    .main-page-wraper .post-details svg {
        @apply w-4 ml-[5px];
    }

    .main-page-wraper .post-details span,
    .main-page-wraper .post-details a {
        @apply text-sm text-[#333];
    }

    .post-content {
        @apply text-[#333] text-base leading-[30px];
    }

    .post-content h2 {
        @apply text-xl font-bold;
    }

    .sticky-side {
        @apply absolute left-[-200px] top-0;
    }

    .sticky-side .post-tags,
    .sticky-side .post-share {
        @apply text-sm cursor-pointer pr-2 border-r-[#ebebeb] border-r border-solid;
    }

    .share-modal .desc {
        @apply text-sm leading-5;
    }

    .share-modal a {
        @apply w-10 h-10 flex items-center justify-center bg-[#ccc] text-white mx-2 my-0 rounded-full;
    }

    .share-modal input {
        @apply w-full border text-sm text-[#666] p-2 border-dashed border-[#ccc];
    }

    .section-title svg {
        @apply w-7;
    }

    .section-title span {
        @apply text-lg;
    }

    .section-title::before {
        @apply h-1 absolute border-b-2 border-b-[#ccc] border-dotted left-[5px] right-0 top-2/4;
    }

    .section-title .title {
        @apply relative inline-block pl-4 pr-0 py-2 bg-white;
    }

    p.comment-form-comment {
        @apply flex flex-col mt-4;
    }

    .comment-form input,
    .comment-form textarea {
        @apply bg-[#f8f9fb] text-sm mb-2 p-2 rounded-2xl border-transparent;
    }

    .comment-form input.submit {
        @apply text-white px-5 py-2.5;
    }

    .commentlist li {
        @apply bg-white relative mt-4 p-4 rounded-2xl border-2 border-dashed border-[#dfdfdf];
    }

    .comment-respond {
        @apply mt-5;
    }

    .comment-author {
        @apply flex items-center;
    }

    .comment-author img {
        @apply w-[60px] h-[60px] ml-2 rounded-lg;
    }

    .comment-body p {
        @apply bg-[#f4f5fb] text-sm leading-5 mx-0 my-5 p-4 rounded-lg;
    }

    .comment-meta {
        @apply absolute text-xs left-[90px] top-5;
    }

    .comment-meta a {
        @apply text-[#333];
    }

    .comment-reply-link {
        @apply absolute text-xs text-white rounded px-2 py-1 left-5 top-4;
    }

    #cancel-comment-reply-link {
        @apply text-white rounded text-xs px-2 py-1;
    }

    .comment-reply-title {
        @apply mb-4;
    }

    .owl-nav button {
        @apply absolute bg-white w-[50px] h-[50px] flex items-center justify-center text-[22px] shadow-[0_5px_15px_rgba(33,35,60,0.07)] text-lg text-[#333] transition-all duration-[0.3s] ease-[ease] rounded-full top-[45%] hover:text-white;
    }

    .owl-nav .owl-next {
        @apply left-0;
    }

    .owl-nav .owl-prev {
        @apply right-0;
    }

    .related-posts .post-inner {
        @apply shadow-[0_1px_7px_-3px_rgb(0,0,0,0.3)] p-[5px] rounded-lg bg-white;
    }

    .related-posts .post-inner img {
        @apply h-[200px] rounded-[8px_8px_8px_35px];
    }

    .related-posts .post-inner .title a {
        @apply text-sm text-[#333];
    }

    .related-posts .post-inner .date {
        @apply absolute text-xs text-white px-2 py-1 rounded-[5px] left-3 top-3;
    }

    .top-section.page-single {
        @apply px-0 py-[50px];
    }

    .woo-bread .woocommerce-breadcrumb {
        @apply m-0;
    }

    .razmnix-single-image {
        @apply h-max p-3.5 rounded-[30px] bg-[#f3f3f3];
    }

    .razmnix-single-image .images {
        @apply w-full mb-0;
    }

    .razmnix-single-image .slick-slide {
        @apply border-0 bg-transparent;
    }

    .razmnix-single-image .slick-slide img {
        @apply rounded-[30px];
    }

    .razmnix-single-image .image-additional .slick-slide.slick-current img {
        @apply border-2 border-solid border-[#ccc];
    }

    .slick-next::before,
    .slick-prev::before {
        @apply text-[#7777] shadow-[0_5px_30px_rgba(0,0,0,0.15)] z-[9999] relative px-2 py-5 rounded-2xl bg-white;
    }

    .slick-prev {
        @apply right-[-39px] -left-2.5;
    }

    .razmnix-single-info .product_title {
        @apply text-2xl leading-5;
    }

    .razmnix-single-info .product-sub-title {
        @apply text-sm text-[#7d7d7d];
    }

    .original-alert {
        @apply bg-[#d2f9e4cc] text-[#16845acc] text-sm relative pl-2.5 pr-[22px];
    }

    .stock-alert {
        @apply bg-[#f9d4d2cc] text-[#aa2716cc] text-sm relative pl-2.5 pr-[38px];
    }

    .original-alert svg,
    .stock-alert svg {
        @apply w-8 absolute top-[-7px] -right-2.5;
    }

    .product_meta_box {
        @apply mb-[30px] px-[25px] py-5 border-y-[#eeeded] border-t border-solid border-b;
    }


    .razmnix-product-category span {
        @apply text-xs text-gray-500;
    }

    .razmnix-product-category a {
        @apply text-sm text-gray-800 font-bold;
    }

    .delivery-alert {
        @apply bg-green-100 text-green-600 py-2 px-4 rounded-full text-base w-max;
    }

    .delivery-alert svg {
        @apply w-5;
    }

    .delivery-alert .title {
        @apply text-lg mb-2 text-gray-800;
    }

    .product-features-list li {
        @apply text-sm text-gray-900;
    }

    .product-features-list .title,
    .woocommerce-product-details__short-description .title {
        @apply text-lg mb-5 text-gray-900;
    }

    .product-features-list ul {
        @apply pr-4;
    }

    .woocommerce-product-details__short-description p {
        @apply leading-6 text-gray-800 text-xs;
    }

    .razmnix-single-info .variations select {
        @apply bg-gray-100 py-2 px-4 rounded-full border-0 text-base;
    }

    .razmnix-product-price {
        @apply bg-gray-200 py-5 px-7 rounded-full relative;
    }

    .razmnix-single-info .single_add_to_cart_button,
    .razmnix-single-info .single_add_to_cart_button:hover {
        @apply py-4 px-12 rounded-full text-lg bg-green-600 shadow-lg hover:shadow-md transition-shadow;
    }

    .quantity {
        @apply flex items-center;
    }

    .quantity button {
        @apply border-0 text-4xl bg-transparent h-8 mx-2;
    }

    .quantity .qty {
        @apply bg-white border-0 rounded-full py-2;
    }

    .price-holder {
        @apply bg-white rounded-xl py-4 px-4;
    }

    .price-holder .price,
    .woocommerce-variation-price .price {
        @apply text-green-500 text-lg font-black;
    }

    span.woocommerce-Price-currencySymbol {
        @apply text-xs text-gray-800;
    }

    .woocommerce-variation.single_variation {
        @apply bg-white rounded-xl py-4 px-5 relative;
    }

    span.var-placeholder {
        @apply absolute top-8 left-8 z-10;
    }

    .razmnix-product-thumbs {
        @apply relative;
    }

    .razmnix-product-meta {
        @apply absolute right-8 top-8 z-10;
    }

    .razmnix-product-meta li {
        @apply mb-5;
    }

    .razmnix-product-meta button {
        @apply bg-gray-900 text-white w-12 h-12 rounded flex items-center justify-center border-0 shadow-lg;
    }

    .razmnix-single-info .woosw-btn,
    .razmnix-single-info .woosc-btn {
        @apply hidden;
    }

    .wc-tabs {
        @apply flex justify-center items-center;
    }

    .wc-tabs li {
        @apply border-0 rounded-full ml-3 py-1 px-5 transition-all duration-300 ease-in-out;
    }

    .wc-tabs::before {
        @apply hidden;
    }

    .wc-tabs li.active a {
        @apply text-white;
    }

    .woocommerce-Tabs-panel--description {
        @apply bg-gray-100 py-8 px-5 rounded-full;
    }

    .woocommerce-Tabs-panel .title-holder svg {
        @apply w-6;
    }

    .woocommerce-Tabs-panel .title-holder .title {
        @apply text-xl mb-2;
    }

    .woocommerce-Tabs-panel p {
        @apply leading-8;
    }

    .woocommerce-product-attributes {
        @apply border-0;
    }

    .woocommerce-product-attributes td {
        @apply bg-gray-200 rounded-full py-2 px-5;
    }

    .section-title .title h3 {
        @apply text-lg;
    }

    .section-title .title h6 {
        @apply text-2xl mt-2;
    }

    .section-title .title {
        @apply w-full relative;
    }

    .section-title .title::after {
        @apply h-1 w-[calc(100%-150px)] bg-gray-100 absolute top-1/2 right-36;
    }

    .product-enrty {
        @apply bg-white shadow-lg rounded-2xl py-5 px-4 overflow-hidden relative;
    }

    .product-enrty .product-content a {
        @apply text-gray-800;
    }

    .product-enrty .product-content a h2 {
        @apply text-base mt-8 leading-6;
    }

    .product-enrty .woocommerce-Price-amount {
        @apply text-lg font-black text-green-600;
    }

    .product-hover {
        @apply opacity-0 invisible transition-all duration-300 ease-in-out absolute bottom-0 right-0 w-full bg-white py-5;
    }

    .product-enrty:hover .product-hover {
        @apply visible opacity-100;
    }

    .product-enrty .product-hover a,
    .product-enrty .product-hover button {
        @apply bg-gray-100 text-gray-800 rounded-full text-base py-3 px-4 border-0 mx-1 transition-all duration-300 ease-in-out;
    }

    .product-enrty .product-hover a:hover,
    .product-enrty .product-hover button:hover {
        @apply bg-gray-200;
    }

    .post-inner {
        @apply py-2 transition-all duration-300 ease-in-out;
    }

    .post-inner:hover {
        @apply scale-105;
    }

    .post-inner:hover .more {
        @apply bg-green-600 text-white;
    }

    .post-inner .post-thumbnail img {
        @apply w-full h-52 object-cover rounded-2xl;
    }

    .post-inner h2 {
        @apply my-2 max-w-xs overflow-hidden truncate;
    }

    .post-inner h2 a {
        @apply text-lg text-gray-800 font-bold;
    }

    .post-inner .post-excerpt {
        @apply text-xs leading-6 text-justify text-gray-600;
    }

    .post-inner .post-meta {
        @apply text-gray-600 text-sm;
    }

    .post-inner .post-meta svg {
        @apply ml-1;
    }

    .post-inner .footer {
        @apply text-gray-600 text-sm;
    }

    .post-inner .more {
        @apply bg-white shadow-lg py-5 px-6 text-sm text-green-600 rounded-md transition-all duration-300 ease-in-out;
    }

    .pagination {
        @apply w-full block;
    }

    .pagination ul {
        @apply flex items-center justify-center;
    }

    .pagination ul li a,
    .pagination ul li span {
        @apply bg-gray-300 text-gray-800 w-8 h-8 rounded-full flex items-center justify-center mx-1;
    }

    .pagination ul li span {
        @apply text-white;
    }

    .widget-title {
        @apply bg-gray-100 text-gray-800 rounded-full py-5 mb-5 text-base;
    }

    .widget {
        @apply mb-5;
    }


    .widget ul li {
        @apply mb-2 pr-3 relative;
    }

    .widget ul li::before {
        content: '';
        @apply inline-block bg-gray-300 w-1.5 h-1.5 rounded-full absolute top-1 right-0;
    }

    .searchform input {
        @apply rounded-full py-3 px-4 bg-gray-100 border-transparent text-base w-full;
    }

    #searchsubmit {
        @apply text-sm text-white mt-1;
    }

    .widget ul li a {
        @apply text-gray-800 text-sm;
    }

    .woocommerce-result-count {
        @apply text-sm;
    }

    .woocommerce-ordering .orderby {
        @apply bg-gray-100 py-2 px-3 rounded-lg;
    }

    .price_label {
        @apply flex items-center text-sm;
    }

    .price_slider_amount button {
        @apply text-sm rounded-full;
    }

    .woocommerce-message {
        @apply bg-white rounded-xl shadow-md leading-7;
    }

    .woocommerce-message .button {
        @apply rounded-full;
    }

    .razmnix-cart-item {
        @apply bg-white rounded-2xl p-4 shadow-md flex items-center relative;
    }

    .razmnix-cart-item img {
        @apply max-w-40 h-40 ml-5;
    }

    .razmnix-cart-item .title a {
        @apply text-lg font-extrabold text-gray-800;
    }

    .razmnix-cart-item .woocommerce-Price-amount {
        @apply text-2xl text-green-500 font-extrabold;
    }

    .razmnix-cart-item .remove {
        @apply absolute top-5 left-5 text-sm border border-red-600 rounded px-2 py-1;
    }

    .razmnix-cart-coupon {
        @apply bg-white p-4 rounded-2xl shadow-md;
    }

    .razmnix-cart-coupon .coupon input {
        @apply rounded-full py-3 px-4 bg-gray-100 border-0 text-base;
    }

    .razmnix-cart-coupon .coupon button {
        @apply text-white rounded-full py-4 px-5;
    }

    .razmnix-cart-collaterals .totals {
        @apply bg-green-100 rounded-xl p-4;
    }

    .razmnix-cart-collaterals .totals .title {
        @apply text-2xl font-extrabold text-gray-800;
    }

    .razmnix-cart-collaterals .totals .woocommerce-Price-amount {
        @apply font-extrabold text-2xl text-green-500;
    }

    .razmnix-cart-collaterals .checkout-button {
        @apply w-full bg-green-600 rounded-xl text-center py-6 transition ease-linear;
    }

    .razmnix-cart-collaterals .checkout-button:hover {
        @apply bg-green-700;
    }

    .razmnix-cart-coupon .update-cart {
        @apply hidden;
    }

    .woocommerce-cart .content-section {
        @apply mt-5;
    }

    .razmnix-cart-title {
        @apply p-4 text-white rounded-xl;
    }

    .razmnix-cart-title h3 {
        @apply text-xl font-extrabold;
    }

    .razmnix-cart-title svg {
        @apply bg-white rounded-full w-6 text-gray-800 p-4 mr-2;
    }

    .razmnix-cart-drop {
        @apply min-w-[450px] border-0 p-5 shadow-lg rounded-2xl text-right;
    }

    .razmnix-cart-drop li {
        @apply bg-gray-100 rounded-xl py-4 px-6 mb-2 relative;
    }

    .razmnix-cart-drop li a {
        @apply text-lg font-extrabold text-gray-800;
    }

    .razmnix-cart-drop .woocommerce-Price-amount {
        @apply text-green-500 text-lg font-extrabold;
    }

    .razmnix-cart-drop li .quantity {
        @apply flex items-center mt-4;
    }

    .razmnix-cart-drop li img {
        @apply w-24 rounded-xl;
    }

    .razmnix-cart-drop li .remove {
        @apply absolute top-0 right-0 bg-gray-400 text-gray-800 text-2xl;
    }

    .razmnix-cart-drop .woocommerce-mini-cart__total {
        @apply bg-green-100 rounded-xl flex items-center justify-center my-2 py-3 border-0;
    }

    .razmnix-cart-drop .woocommerce-mini-cart__buttons a {
        @apply text-white rounded-full text-base ml-1;
    }

    .auth-holder {
        @apply max-w-[450px] mx-auto;
    }

    .auth-holder .nav-link {
        @apply rounded-full ml-2 bg-white text-gray-800 shadow-md;
    }

    .auth-holder .woocommerce-form {
        @apply border-0 bg-white shadow-xl rounded-2xl;
    }

    .auth-holder input {
        @apply bg-gray-100 py-3 px-4 border-transparent text-base rounded-full;
    }

    .auth-holder input:focus {
        @apply border-gray-700;
    }

    .auth-holder .button {
        @apply w-full block text-center mt-5 py-4 rounded-xl bg-gray-700 text-white;
    }

    .woocommerce-account .content-section {
        @apply my-8;
    }

    .profile-user-details,
    .profile-links-holder {
        @apply bg-white rounded-xl shadow-md py-4;
    }

    .profile-user-details img {
        @apply rounded-xl;
    }

    .profile-links-holder ul li {
        @apply py-3 px-4 flex items-center transition ease-linear;
    }

    .profile-links-holder ul li a {
        @apply text-gray-800 w-full block;
    }

    .profile-links-holder ul li:hover,
    .profile-links-holder ul li.is-active {
        @apply bg-gray-100 border-r-6 border-gray-300;
    }

    .profile-badges-holder .badge-item {
        @apply bg-white py-3 px-4 rounded-xl shadow-md;
    }

    .profile-badges-holder .badge-item svg {
        @apply w-9 ml-3;
    }

    .profile-badges-holder .badge-item {
        @apply text-base;
    }

    .profile-badges-holder .badge-item .value {
        @apply text-2xl font-extrabold;
    }

    #search-result-holder {
        @apply bg-white shadow-xl rounded-xl p-5 hidden absolute top-12 right-0 w-full z-50;
    }

    .ajax-search-results li {
        @apply mb-2;
    }

    .ajax-search-results li img {
        @apply w-18 h-18 ml-2;
    }

    .ajax-search-results li a {
        @apply flex items-center text-gray-800 text-base leading-6;
    }

    .simple-slider .slide-item img {
        @apply rounded-xl h-72 object-cover;
    }

    .products-slider .owl-stage-outer {
        @apply py-12;
    }

    @media (max-width: 991px) {
        .search-holder,
        .phone-holder,
        .cart-btn {
            @apply hidden;
        }

        .phone-nav-toggle {
            @apply flex;
        }

        .site-logo {
            @apply w-28;
        }
    }
}*/







