@layer components{
    .razmnixNav {

        ul {
            @apply m-0 p-0;
        }
        svg{
            @apply w-3 rtl:mr-2 ltr:ml-2;
        }

        .menu > ul,
        ul.menu {
            @apply flex items-center justify-center lg:flex-row flex-col lg:w-auto w-full lg:pt-0 pt-6;
        }

        .menu > ul > li,
        ul.menu > li {
            @apply relative px-3 py-4  lg:ml-6 lg:inline-block flex items-center lg:w-auto w-full lg:mb-0 mb-7;

            > a {
                @apply text-base font-medium  flex items-center;

            }
        }
        .menu-item-wrapper{
            @apply flex items-center justify-center relative;
        }

        a {
            @apply text-base font-medium  flex items-center justify-start gap-x-1;
        }

        /* .menu > ul > li > a svg,
         ul.menu > li > a svg {
             @apply w-3 rtl:mr-2 ltr:ml-2;
         }*/

        .menu > ul > li:hover > ul,
        ul.menu > li:hover > ul {
            @apply opacity-100 visible translate-x-0 translate-y-0 h-auto;
        }

        .menu > ul > li ul,
        ul.menu > li ul {
            @apply opacity-0 invisible absolute w-52 shadow-lg bg-white dark:bg-dark-910 rounded-lg translate-y-2.5 transition-all z-[200] h-auto p-2.5 border-b-[3px] border-b-primary border-solid right-0 top-[45px];
            svg {
                @apply w-2.5 rotate-90 mr-[5px];
            }
            li {
                @apply relative px-5 py-2.5 dark:hover:bg-dark-900 rounded-lg inline-block w-full hover:bg-gray-200;

                &.menu-item-has-children > a {
                    @apply relative;
                }

                &:hover > ul {
                    @apply visible opacity-100 translate-x-0 translate-y-0;

                }

                > a {
                    @apply text-sm flex items-center justify-start gap-x-1;



                }

                > ul {
                    @apply translate-x-2.5 translate-y-0 z-30 right-full top-0;
                }
            }
        }
    }

    .fixed-active .razmnixNav .menu > ul > li ul,
    .fixed-active .razmnixNav ul.menu > li ul {
        @apply top-10;
    }

    @media screen and (prefers-reduced-motion: reduce) {
        .razmnixNav .menu > ul > li ul,
        .razmnixNav ul.menu > li ul {
            @apply transition-none;
        }
    }




    /* Mega Menu Styles */
    .razmnixNav {
        ul.menu li.menu-item-has-children.mega-menu {
            position: unset !important;

            > .sub-menu {
                @apply opacity-0 z-[999] shadow-[0_-1px_13px_-6px_rgba(51,51,51,0.38)]  bg-white dark:bg-dark-910 overflow-hidden min-w-[620px] rounded-lg translate-y-2.5 transition-all invisible absolute flex -mt-1.5 border-b-[3px] border-b-primary border-solid right-0 top-[51px];

                & -elementor {
                    @apply p-0;
                }

                > li {
                    @apply grow mx-[5px] my-0;

                    a {
                        @apply px-[15px] py-1.5 rounded-lg ;
                    }

                    &.menu-item-has-children {
                        > a {
                            @apply text-[15px] font-bold mb-2 px-[15px] py-0 rounded-none border-r-2 border-r-primary border-solid;

                            &:hover {
                                @apply bg-[unset] text-black px-[15px] py-0 rounded-none;
                            }

                            .fa-angle-down {
                                display: none;
                            }
                        }

                        .sub-menu {
                            @apply relative visible opacity-100 shadow-[unset] border-0 top-0 inset-x-0;
                            transform: unset;
                            background: unset;
                        }

                        a:hover {
                            @apply transition-all px-[15px] py-1.5 rounded-lg bg-primary;
                        }
                    }
                }
            }

            &.mega-menu-fw > .sub-menu {
                @apply w-full;
            }

            &:hover > .sub-menu {
                @apply opacity-100 visible translate-x-0 translate-y-0 h-auto;
            }
        }
    }
}